{{> head }}
{{> navbar }}
<div class="container">
	<div class="row">
		<div class="col-8"><p>Bienvenido</p></div>
		<div class="col-4">
			<img src="assets/imgs/1CA.jpg" alt="" class="img-thumbnail">
		</div>
	</div>
</div>
{{> footer }}